html, article {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

article {
	display: block;
	min-height: 768px;
	min-width: 1366px;
}

footer {
	display: block;
	text-align: center;
	width: 100%;
}

img[src*="/t/"] {
	width: 150px;
	height: 150px;
	margin: 10px 10px;
	border: 1px solid black;
}

img[src*="/i/"] {
	max-width: 768px;
}

ul {
	margin: 20px auto;
	column-width:175px;
	-moz-column-width:175px; /* Firefox */
	-webkit-column-width:175px; /* Safari and Chrome */
}
li {
	width: 170px;
	min-height: 200px;
	border: 1px solid #000;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	margin: 5px;
	zoom: 1;
	*display: inline;
	_height: 250px;
}
li div h4 {
	text-align:center;
}
li div span {
	text-align:right;
	width: auto;
	display: block;
	padding-right:8px;
}

#ic{
	margin: 20px auto;
	width: 800px;
}

#ic li {
	border: none;
}

#user {
	position: absolute;
	top: 5px;
	right: 50px;
	width: 100px;			
}
h1 {
	width: 200px;
	margin: 20px auto;
}

.sprite {
	background: url('/sprite.png');
	text-indent: 9999;
	text-decoration: none;
}

.lock {
	background-position: -0px -0px;
	width: 11px;
	height: 15px;
	display: inline-block;
}

.unlock {
	background-position: -0px -25px;
	width: 11px;
	height: 15px;
	display: inline-block;
}