html, body {
	width: 100%;
	height: calc(100% - 89px);
	margin: 0;
	padding: 0;
}

body { margin: 2em auto; font-family: 'Open Sans', sans-serif; color: #333;}

div#container {
	background-color: white;
}

div#nav {
	background: url('/noisebg.png');
	border-bottom: 1px dashed #ccc;
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
	color: white;
	height: 3em;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99999;
}

#footerSpacer {
	position:relative;
	display: block;
	min-height: 200px;
	background-color: rgba(0, 0, 0, 0);
}

footer {
	display: block;
	text-align: center;
	width: 100%;
	border-top: 1px dashed #ccc;
	background: url('/noisebg.png');
	box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
}

footer {
    bottom: 0px;
    left: 0px;
    padding: 10px 0px;
    position: fixed;
    width: 100%;
    font-size: 14px;
    z-index: -1;
}

footer {
	text-align: left;
}

footer h3 {
	margin: 0;
}

footer div:first-child {
	border: 0;
}

footer div {
	border-left: 1px dotted white;
	margin-left: 1em;
	padding-left: 1em;
}

footer > div {
	 width:600px;
	 margin:auto;
}

footer div > p {
	margin: 0;
}

footer div div {
	float: left;
	height: 100px;
}

footer div ul {
	max-width: 250px;
	margin: 0;
	padding-left: 0;
}

footer div ul li {
	border: 0;
	background-color: inherit;
	display: block;
	max-width: 200px;
	margin-left: 0;
}

footer a {
	color: white;
}

a {
	text-decoration: none;
}

div#nav div#title {
	display: block;
	margin: 1em;
	font-size: 1em;
	width: 500px;
}

div#nav div#user {
	display: block;
	margin: 1em;
	font-size: 1em;
	position: absolute;
	top:0;
	right: 0;
}

div#nav a {
	color:inherit;
	text-decoration: none;
}

img[src*="/t/"] {
	width: 150px;
	height: 150px;
	margin: 10px 10px;
	border: 1px solid black;
}

img[src*="/i/"] {
	max-width: 768px;
}

@media screen and (min-width: 768px) {
	div#container {
		width: 100%;
	}
	div#content {
		position:relative;
		margin: 20px auto;
		width: 800px;
	}
	div#content ul {
		margin: 20px auto;
		<!-- width: 780px; -->
	}


	body {
		display: block;
	}
}

@media screen and (max-width: 360px) {
	div#content {
		margin: 20px auto;
		position:relative;
	}
	div#content ul {
		display: block;
		width: 273px;
		margin: 20px auto;
		-webkit-margin-before: 0;
		-webkit-margin-after: 0;
		-webkit-margin-start: 0;
		-webkit-padding-start: 0;
	}
	div#content ul div {
		width: 122px;
	}
	img[src*="/t/"] {
		width: 100px;
		height: 100px;
		margin: 10px 10px;
		border: 1px solid black;
	}
}

@media screen and (max-width: 640px) {
	div#content {
		position:relative;
	}
	div#content ul {
		margin: 20px auto;
	}
}

li {
	list-style-type: none;
	display: inline-block;
	border: 1px solid #000;
	margin: 5px;
	background-color: white;
}

li div h4 {
	text-align:center;
	margin: 0;
	padding-top: 0.5em;
}

li div span {
	text-align:right;
	width: auto;
	display: block;
	padding-right:8px;
}

h1 {
	width: 200px;
	margin: 20px auto;
}

.sprite {
	background: url('/sprite.png');
	text-decoration: none;
	display: inline-block;
	padding: 0;
}

.lock {
	background-position: -0px -0px;
	width: 11px;
	height: 15px;
}

.unlock {
	background-position: -0px -25px;
	width: 11px;
	height: 15px;
}

.qr {
	background-position: 0px -50px;
	width: 15px;
	height: 15px;
}

form    {
	margin:auto;
	position:relative;
	width:300px;
	height:200px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1em;
	font-style: italic;
	line-height: 24px;
	font-weight: bold;
	color: #47a;
	text-decoration: none;
	border-radius: 10px;
	padding:10px;
	border: 1px solid #999;
	border: inset 1px solid #333;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

form div span {
	display: block;
	color: red;
	text-align: center;
}

input    {
	width:100%;
	display:block;
	border: 1px solid #999;
	height: 25px;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
}

input:focus {
	border: 1px solid #47a;
}

input[type="submit"] {
	width:100px;
	position:absolute;
	right:20px;
	bottom:20px;
	background:#47a;
	color:#fff;
	font-family: Tahoma, Geneva, sans-serif;
	height:30px;
	border-radius: 15px;
	border: 1px solid #999;
}
input[type="submit"]:hover {
	background:#fff;
	color:#09C;
}

.album {
	position: relative;
}

.album > ul {
	border: 0;
	width: auto !important;
	float: right;
	list-style-type: none;
	margin: 0 !important;
}

.album > ul > li{
	border: 0;
	float: left;
	list-style-type: none;
}

.qrholder {
	position: absolute;
	z-index: 99999;
	bottom: 0;
	left: 0;
	background-color: white;
}

.qrholder > img {
	width: 172px;
	height: 172px;
}