{{if .User.Email}}
<div id="user">
{{.User.Email}}
</div>
{{end}}

	<ul>
{{range .AlbumsList}}
		<li>
			<div>
				<h4>{{.Name}}</h4>
				<a href="/album/{{.Name}}"><img src="/t/{{.Poster}}" /></a>
			</div>
		</li>
{{ end }}
	</ul>