    << if .Data.AlbumUser.Name >><h1 id="albumowner"><< .Data.AlbumUser.Name >></h1><< end >>
    <div ng-app="albumsApp">
     <div style="margin-top: 25px; display: block;">
      <input type="text" ng-model="searchText" placeholder="Search" style="float:left; width: 85%;">
      <button class="button">Create Album</button>
     </div>
     <div style="clear: both;"></div>
     <div ng-view></div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.1/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.1/angular-route.min.js"></script>
    <script src="/app.js"></script>
