    <div id="nav">
     <div id="title"><a href="<< .Url >>" title="<< .SiteTitle >>"><< .SiteTitle >></a></div>
     <div id="user"><< if .User.Email >><<.User.Email>><< else >><a href="<< .Url >>/login" title="Login">Login</a><< end >></div>
    </div>
    <div style="clear: both;">&nbsp;</div>
<< yield >>
