<div id="nav">
	<div id="title"><a href="{{ .Page.Url }}" title="{{ .Page.SiteTitle }}">{{ .Page.SiteTitle }}</a></div>
	<div id="user">{{ if .Page.User.Email }}{{.Page.User.Email}}{{ else }}<a href="{{ .Page.Url }}/login" title="Login">Login</a>{{ end }}</div>
</div>
<div style="clear: both;">&nbsp;</div>
    {{ yield }}
