	<div>
		<div>
			&copy;2014 PixelRelay<br>
		</div>
		<div>
			<h3>LINKS</h3>
			<ul>
				<li><a href="https://github.com/jayrox/gopixelrelay" title="Hosted by Github">Source Code</a></li>
				<li><a href="http://pixelrelay.com/" title="PixelRelay on Android">PixelRelay on Android</a></li>
			</ul>
		</div>
		<div>
			<h3>SOCIAL</h3>
			<ul>
				<li><a href="https://plus.google.com/communities/102413251049815386459" title="Google +">Google +</a></li>
				<li><a href="https://twitter.com/pixelrelay" title="Twitter">@pixelrelay</a></li>
				<li><a href="http://www.reddit.com/r/pixelrelay/" title="Reddit">Reddit</a></li>
			</ul>
		</div>
		<div>
			<h3>LICENSE</h3>
			<a href="http://www.apache.org/licenses/LICENSE-2.0.html" title="Apache 2.0">Apache 2.0</a>
		</div>

	</div>
