    <title>PixelRelay</title>
	<style>
		img[src*="/t/"] {
			width: 150px;
			height: 150px;
		}
		li {
			width: 200px;
			min-height: 250px;
			border: 1px solid #000;
			display: -moz-inline-stack;
			display: inline-block;
			vertical-align: top;
			margin: 5px;
			zoom: 1;
			*display: inline;
			_height: 250px;
		}
	</style>
