<!DOCTYPE html>
<html>
  <head>
{{ template "head" . }}
  </head>
  <body>
<div id="container">
	<div id="content">
	{{ template "body" . }}
	</div>
</div>
<div id="footerSpacer"></div>
  <footer>
{{ template "foot" . }}
  </footer>
  </body>
</html>