<!DOCTYPE html>
<html>
  <head>
{{ template "head" . }}
  </head>
  <body>
  <script type="text/javascript">//alert("w:"+window.screen.availWidth);</script>
{{ template "body" . }}
  <footer>
{{ template "foot" . }}
  </footer>
  </body>
</html>